/*Bottom Alt*/
.footer-bottomAlt {
    padding: 15px 0;
    padding-top: 20px;
    background-color: #000;
}

    .footer-bottomAlt span {
        display: block;
        text-align: right;
        color: white;
    }

.clearfix a {
    border-radius: 100%;
    padding: 3px;
    color: blue;
}

    .clearfix a i {
        padding: 3px;
        color: white;
    }
/**sticky footer*/
html.footer-sticky, .footer-sticky body {
    height: 100%;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0);
}

a:hover {
    text-decoration: none;
    outline: 0 !important;
}

.back-to-top {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    bottom: 10px;
    right: 10px;
    background: #eee;
    color: #333;
    line-height: 50px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}

    .back-to-top.show {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
    }

    .back-to-top i {
        display: block;
        font-size: 38px;
        line-height: 50px;
        text-align: center;
    }
