
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.alert {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: #fff;
    margin-bottom: 10px;

    display: none;
}

/*--------------------
  [SIGN-IN]
---------------------*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }




/*-------------------
    [HEADER-AREA]
----------------------*/
.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background-color: #E95420;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}

header {
    position: relative;
    height: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-image: url('../content/images/bg-image.jpg');
    text-align: center;

}

    header .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
    }

        header .header-content .header-content-inner h1 {
            font-weight: 900;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 40px;
            text-shadow: -2px 2px 2px black;
            color: rgba(255, 255, 255, 1);
        }

        header .header-content .header-content-inner hr {
            margin: 30px auto;
        }

        header .header-content .header-content-inner p {
            font-weight: 900;
            font-size: 25px;
            text-shadow: -2px 2px 2px black;
            color: rgba(255, 255, 255, 1);
            text-transform: uppercase;
            margin-bottom: 50px;
        }

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
}


.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

ul.city-circle {
    list-style-type: none;
    display: inline;
    padding: 35px 0px;
}

ul.city-cicle li {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}


.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}

    .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
        border: 0;
        background: none !important;
        color: #333333;
    }

        .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
            color: #a6a6a6;
        }

    .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
        margin-top: 0px;
    }

.member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #E95420;
    position: relative;
}

    .member-tabset > .nav-tabs > li.active > a {
        border: 0 !important;
        color: #333333;
    }

        .member-tabset > .nav-tabs > li.active > a > i {
            color: #404040;
        }

.member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}

section {
    padding: 100px 0;
}

.bg-primary-about {
    background-color: #F05F40 !important;
}

/* ===============
Appliance Repair Area
==================*/
#card-area {
    margin: auto;
    height: 1700px;
    position: relative;
}
#card-area #wrapper {
        margin: 0;
        font-size: 35px;
        line-height: 1.2em;
}
/*-------------------
 About-Us
----------------------*/
#about {
    background-color: #da291c;
    font-weight: 700;
    color: #fff;
}

#about p {
        color: #fff;
        font-weight: 300;
}


/*--------------
Contact Area 
---------------*/
#contact-first {
    background-position: center center;
    background-image: url('/assets/images/modern-kitchen.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    color: #ededed;
}


section.contact {
    text-align: center;
}

    section.contact h2 {
        margin-top: 0;
        margin-bottom: 25px;
    }

        section.contact h2 i {
            color: #dd4b39;
        }

    section.contact ul.list-social {
        margin-bottom: 0;
    }

        section.contact ul.list-social li a {
            display: block;
            height: 80px;
            width: 80px;
            line-height: 80px;
            font-size: 40px;
            border-radius: 100%;
            color: white;
        }

        section.contact ul.list-social li.social-twitter a {
            background-color: #1da1f2;
        }

            section.contact ul.list-social li.social-twitter a:hover {
                background-color: #0d95e8;
            }

        section.contact ul.list-social li.social-facebook a {
            background-color: #3b5998;
        }

            section.contact ul.list-social li.social-facebook a:hover {
                background-color: #344e86;
            }

        section.contact ul.list-social li.social-google-plus a {
            background-color: #dd4b39;
        }

            section.contact ul.list-social li.social-google-plus a:hover {
                background-color: #d73925;
            }


/*
footer area
==========================*/

footer {
    color: #add8e6;
}

    footer a,
    footer > a {
        color: #333;
    }

        footer a:hover,
        footer a:focus {
            color: red;
        }

    footer h3 {
        margin-bottom: 30px;
    }

    footer .footer-above {
        padding-top: 50px;
    }

    /*
social media area
==========================*/
    footer .footer-col {
        margin-bottom: 50px;
    }

ul.social-network {
    list-style-type: none;
    display: inline;
    padding: 0;
}

    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }

.social-network a.icoFacebook:hover {
    background-color: #3b5998;
}

.social-network a.icoGoogle:hover {
    background-color: #bd3518;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoYelp:hover {
    background-color: #bd3518;
}

.social-network a.icoDribbble:hover {
    background-color: #33ccff;
}

.social-network a.icoFacebook:hover i, .social-network a.icoGoogle:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoYelp:hover i,
.social-network a.icoDribble:hover i {
    color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    transform: rotate(360deg);
    transition: all .2s;
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
}

.social-circle a {
    background-color: #d3d3d3;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #000;
    color: #424242;
}
/*
footer ends here
=========================*/

/* ======================
    Media query
======================*/

@media (max-width: 668px) {
    #card-area {
        margin: auto;
        height: auto;
        position: relative;
    }
}

@media (max-width: 468px) {
    header .header-content {
        width: 100%;
        padding: 10px 0px 0px;
    }

        header .header-content .header-content-inner #homeHeading {
            position: relative;
            text-align: center;
            margin: auto;
            padding: auto;
            width: 80%;
            font-size: 22px;
        }

        header .header-content .header-content-inner p {
            position: relative;
            text-align: center;
            width: 80%;
            padding: auto;
            margin: auto;
            font-size: 12px;
        }

    #card-area {
        margin: auto;
        height: 4720px;
        position: relative;
    }
}


body {
  margin: 0;
  background-color: #BBdee2;
}

.main-img {
   position:relative;
   height:500px;
   background-image: url('../content/static/repais.jpg');
   background-position: center;
   background-size: cover;
}

.title {
  position: absolute;
  color:white;
  font-size: 40px;
  left:50%;
  transform: translateX(-50%);
  top: 35%;
  text-shadow: 0 0 8px black;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.post {
  margin: 5px;
  position:relative;
  height: 400px;
  display:flex;
  box-shadow:0 0 5px black
}

.post-img {
  width: 100%;
  object-fit: cover;
}
.post-body {
  margin:-5px 5px 0;
  padding: 20px 5px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.no-shadow {
  box-shadow: none;
}
/* cta-area*/
#cta {
    background-color: white;
}

#cta h3 {
    color: #2454a5;
}

#cta h4 {
    margin: 0;
    font-size: 29px;
    font-weight: 400;
    line-height: 1.2em;
}
#cta h4.second-text {
        margin-top: 15px;
        margin: 0;
        font-size: 29px;
        font-weight: 400;
        line-height: 1.2em;
        color:#2454a5;
}

/* Brands*/

#brands-bar {
    margin-bottom: 45px !important;
    padding-top: 15px !important;
    padding-right: 25px !important;
    padding-bottom: 15px !important;
    padding-left: 25px !important;
    background-color: #2454a5 !important;
}

    #brands-bar h3 {
        margin: 0;
        font-size: 35px;
        line-height: 1.2em;
        color: #fff;
    }



